<div class="row" style="margin-top: 4rem;">
    <div class="column">
        <h3>Interactive Reference (Cheat Sheet)</h3>
        <p>A quick-glance guide to common Regular Expression tokens for .NET.</p>

        <div class="row">
            <div class="column">
                <h5 style="color: #9b4dca;">Anchors</h5>
                <ul style="list-style-type: none; padding: 0;">
                    <li><code>^</code> Start of string or line</li>
                    <li><code>$</code> End of string or line</li>
                    <li><code>\b</code> Word boundary</li>
                    <li><code>\B</code> Non-word boundary</li>
                </ul>
            </div>
            
            <div class="column">
                <h5 style="color: #9b4dca;">Character Classes</h5>
                <ul style="list-style-type: none; padding: 0;">
                    <li><code>.</code> Any character except newline</li>
                    <li><code>\w</code> Word character (a-z, A-Z, 0-9, _)</li>
                    <li><code>\d</code> Digit (0-9)</li>
                    <li><code>\s</code> Whitespace</li>
                </ul>
            </div>

            <div class="column">
                <h5 style="color: #9b4dca;">Quantifiers</h5>
                <ul style="list-style-type: none; padding: 0;">
                    <li><code>*</code> 0 or more</li>
                    <li><code>+</code> 1 or more</li>
                    <li><code>?</code> 0 or 1</li>
                    <li><code>{3}</code> Exactly 3</li>
                    <li><code>{3,}</code> 3 or more</li>
                </ul>
            </div>
            
            <div class="column">
                <h5 style="color: #9b4dca;">Groups</h5>
                <ul style="list-style-type: none; padding: 0;">
                    <li><code>(abc)</code> Capture group</li>
                    <li><code>(?:abc)</code> Non-capturing group</li>
                    <li><code>[abc]</code> Any of a, b, or c</li>
                    <li><code>[^abc]</code> Not a, b, or c</li>
                </ul>
            </div>
        </div>
    </div>
</div>
